header {
    border-style: solid;
    padding: 20px;
    margin: 25px;
    position: auto;
    text-align: center;
}

.card {
    border-style: solid;
    display: flex;
    max-width: 30%;
    padding: 20px;
    margin: 25px;
    position: left;
    text-align: justify;
    flex-wrap: wrap;
}

input {
    padding: 5px;
    margin: 10px;
    overflow-wrap: normal;
}


.weather-container {
    border-style: solid;
    display: inline-grid;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;

}

.hide {
    display: none;
}

@media screen and (max-width: 780px) {
    .card {
        max-width: 50%;
    }
}

@media screen and (max-width: 473px) {
    .card {
        border-style: none;
    }
}